
.bord
{
	float:left;
	width:5%;
	height:25px;
}

.suite
{
	width:15%;
	height:25px;
	float:left;
	font-size:16px;
	font-weight:normal;
	text-align:left;
}

.des
{
	width:30%;
	height:25px;
	float:left;
	font-size:16px;
	font-weight:normal;
	text-align:left;
	overflow:hidden;
}

.prix
{
	width:15%;
	height:25px;
	float:left;
	font-size:16px;
	font-weight:normal;
	text-align:right;
}

.titre_h1
{
	width:auto;
	display:block;
	height:auto;
	text-align:center;
	background-color:#EDEEEE;
	border:#666666 1px solid;
	padding-top:20px;
	padding-bottom:8px;
	border:#333 1px solid;
	border-radius: 5px;
	margin-left: 10px;
}

.div_saut_ligne
{
	width:100%;
	height:5px;
	display:inline-block;
}

#editer{
	margin-left: 30px;
	width: 100%;
}